@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --smooth_lemon_green: #23f802e0;
  --lemon_green: #adf802;
  --custom_green:#16a34a;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}
html {
  scroll-behavior: smooth;
}
@media (max-width:567px) {
  .row{
    width: 100%;
    margin: auto 0;
  }
}
@media (max-width:768px) {
  .row{
    width: 720px;
    margin: auto 0;
  }
}
@media (max-width:992px) {
  .row{
    width: 960px;
    margin: auto 0;
  }
}
@media (max-width:1200px) {
  .row{
    width: 1140px;
    margin: auto 0;
  }
}